.btn {
  cursor: pointer;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.15s ease;

  &:hover {
    transition: opacity 0.3s ease;
    opacity: 0.92;
  }

  &--plus {
    position: relative;
    border: 0;
    padding: 0;
    width: 21px;
    height: 21px;
    background-color: #fb6874;
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 14px;
      width: 4px;
      background-color: #fff;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 4px;
      width: 14px;
      background-color: #fff;
    }
  }

  &__arrow {
    width: 19px;
    height: 10px;
    margin-left: 5px;

    &--back {
      transform: rotate(-180deg);
      margin-left: 0;
      margin-right: 7px;
    }
  }

  &--primary {
    min-width: 300px;
    border: 3px solid #fff;
    font-size: 24px;
    color: #fff;
    line-height: 1.2;
    padding: 10px 27px;

    @media (max-width: 767px) {
      min-width: auto;
      font-size: 22px;
    }
  }

  &--disable {
    border: 0;
    color: #fff;
    font-size: 16px;
    padding: 6px 9px;
    background-color: rgb(169, 170, 171);
  }

  &--default {
    background-color: #fb6874;
    border: 0;
    color: #fff;
    font-size: 16px;
    padding: 6px 9px;
  }

  &--black {
    border-color: #000;
    color: #000;
  }
}