//@font-face {
//  font-family: 'Helvetica-Neue';
//  src: url('./assets/fonts/HelveticaNeueLTStd-LtCn.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}
@font-face {
  font-family: 'Helvetica-Neue';
  src: url('./assets/fonts/Helvetica-Neue.eot');
  src: url('./assets/fonts/Helvetica-Neue.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Helvetica-Neue.woff2') format('woff2'),
  url('./assets/fonts/Helvetica-Neue.woff') format('woff'),
  url('./assets/fonts/Helvetica-Neue.ttf') format('truetype'),
  url('./assets/fonts/Helvetica-Neue.otf') format('opentype'),
  url('./assets/fonts/Helvetica-Neue.svg#Helvetica-Neue') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0020-FB02;
}