.form {

  &--contacts {

    .form__title {
      color: #000;
      font-size: 26px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 30px;
    }

    .form__input {
      display: block;
      width: 100%;
      font-size: 18px;
      padding: 12px 25px;
      border: 1px solid #000;
      margin-bottom: 15px;
    }

    .form__textarea {
      resize: none;
      font-size: 18px;
      width: 100%;
      height: 168px;
      border: 1px solid #000;
      padding: 12px 25px;
      margin-bottom: 15px;
    }
    .form__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }

    &__column-50 {
      padding: 0 15px;
    }
  }

  &__column-50 {
    width: 50%;
  }

  &__title {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: #747475;
    line-height: 1.5;
    margin: 40px 0 32px;

    span {
      display: block;
      font-weight: 100;
      font-size: 14px;
      font-style: italic;
      text-transform: none;
      margin-top: 10px;
      line-height: 1.285714285714286;
    }
  }

  &__text {
    color: #000;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  &__holder {
    position: relative;
    margin-bottom: 80px;

    .dropzone {
      background-color: transparent;
      padding: 0;
      border: 0;
      margin: -16px;
      padding-bottom: 30px;
      min-height: 30px;

      .dz-default.dz-message {
        display: none;
      }
      .dz-preview .dz-image {
        border-radius: 0;
      }

      .dz-preview:hover .dz-image img {
        filter: none;
        transform: none;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    margin: 0 -15px;

    .btn {
      margin-top: 23px;
    }

    .btn--plus {
      margin: 0;
      margin-top: 27px;
    }

    .btn--indent-big {
      margin-top: 30px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  &__row--caption {
    margin: 0;

    .form__caption {
      margin-right: 35px;
    }
  }

  &__row-title {
    max-width: 140px;
    width: 100%;
    color: #000;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 15px;
  }

  &__input {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    color: #000;
    font-weight: 300;
    line-height: 1;
    border: 0.44px solid rgb(71, 72, 74);
    margin-bottom: 10px;

    &.error {
      border-color: rgb(255, 0, 0);

      & ~ .error-text {
        display: block;
      }
    }
  }

  .error-text {
    display: none;
    color: rgb(251, 104, 116);
    font-weight: 300;
    line-height: 1.2;
    font-size: 16px;
    margin-right: -10px;
    font-style: italic;
  }

  &__select {
    position: relative;
    border-radius: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 7px 10px 6.5px;
    padding-right: 7%;
    font-size: 16px;
    color: #000;
    font-weight: 300;
    line-height: 1;
    border: 0.44px solid rgb(71, 72, 74);
    background: url('./assets/images/select_arrow.svg') no-repeat;
    background-position: 95% 55%;
    margin-bottom: 10px;

    &.error {
      border-color: rgb(255, 0, 0);

      & ~ .error-text {
        display: block;
      }
    }
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2px;
    margin-top: -5.5px;
    content: '-';
    width: 4px;
    height: 1px;
    background: #000;
  }

  &__item {
    width: 100%;
    margin: 0 15px 5px;

    input[type=checkbox]:checked ~ .form__custom-checkbox {
      &:after {
        left: inherit;
        right: 0;
        background-color: rgb(251, 104, 116);
      }
    }
  }

  &__item--disabled {
    .form__caption {
      color: rgb(105, 105, 105);
    }

    .form__select {
      color: rgb(105, 105, 105);
    }
  }

  &__item--checkbox {
    cursor: pointer;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    .form__caption {
      margin-right: 15px;
      margin-bottom: 0;
    }
  }

  &__item--checkbox-sm {
    max-width: 50px;
    flex-direction: column;

    .form__caption {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__checkbox {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  &__custom-checkbox {
    position: relative;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(218, 218, 218);
    width: 100%;
    height: 7px;
    max-width: 25px;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -7.5px;
      border-radius: 50%;
      background-color: rgb(169, 170, 171);
      width: 15px;
      height: 15px;
      transition: all 0.3s ease-in-out;
    }
  }

  &__item-list {
    position: relative;
    display: flex;
    align-items: center;

    .form__input {
      max-width: 65px;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    .form__select {
      margin-right: 15px;
      background-position: 91% 55%;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__item--md {
    max-width: 165px;

    .form__select {
      width: 100%;
    }
  }

  &__item--lg {
    max-width: 360px;
  }

  &__item--sm {
    max-width: 75px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;

    .form__select {
      width: 100%;
      background-position: 88% 55%;
    }
  }

  &__item--horizontal-center {
    display: flex;
    justify-content: center;
    text-align: center;

    .form__custom-checkbox {
      margin-top: 12px;
    }

    .form__caption {
      margin-left: -5px;
    }
  }

  &__item--vertical-center {
    padding-top: 7px;
  }

  &__item--text {
    margin-bottom: 0;
  }

  &__caption {
    font-size: 16px;
    color: #000;
    font-weight: 300;
    margin-right: -5px;
    margin-bottom: 12px;

    span {
      color: #ff0d0d;
    }
  }

  &__column-row {
    display: flex;
    margin-bottom: 5px;

    .form__item--checkbox {
      max-width: none;
    }

    .btn--plus {
      margin: 0;
    }
  }

  &__column-title {
    max-width: 75px;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    line-height: 1.2;
  }

  &__item--services {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
    margin: 0 15px 5px;

    .form__input {
      display: none;
      margin: 0;
    }
  }

  &__item--input-showed {
    .btn--plus {
      display: none;
    }

    .form__input {
      display: block;
    }
  }

  &__submit {
    background-color: #fb6874;
    border: 0;
    color: #fff;
    font-size: 16px;
    padding: 6px 9px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: 992px) {

    &__column-row {

      .form__item {
        max-width: 50%;
      }
    }

    &__column-50 {
      width: 100%;
    }

    &__row {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 767px) {
    .form__row .btn {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  @media (max-width: 540px) {
    .form__row .btn {
      margin-top: 5px;
    }
  }

  &__item-selected {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 5px;
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(3) {
      margin-top: 12px;
    }
  }

  &__item-selected-lvl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 30px;
  }

  &__item-selected-lvl-item {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    border: 1px #fb6874 solid;
    background: none;
    margin: 0 6px 0 0;
    &:last-child {
      margin-right: 0;
    }
    &--active {
      background: #fb6874;
    }
  }

  &__remove-btn {
    width: 24px;
    height: 26px;
    display: block;
    background: url('./assets/images/trash.png') 0 0 no-repeat;
    transition: all 0.3s ease;
    opacity: 1;
    cursor: pointer;
    margin: 0 13px 0 0;
    &:hover {
      opacity: 0.9;
    }
  }

  &__item-selected-text {
    font-weight: 200;
    line-height: 1;
  }

  &__row--lang-result {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 12px 0 5px;

    .form__item-selected {
      &:nth-child(3) {
        margin-top: 0 !important;
      }
    }
  }

  &__row--lang-result-hidden {
    opacity: 0;
    visibility: hidden;
  }
}