* {
  box-sizing: border-box;
  outline: none !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: @roboto;
  font-weight: 400;
  overflow-x: hidden;

  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 57px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.hidden-svg {
  display: none;
}

a {
  text-decoration: none;
}

.icon {
  display: inline-block;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.board-bg {
  background-image: url('./assets/images/board-bg.jpg');
  background-size: cover;
  background-attachment: fixed;

  @media (max-width: 767px) {
    background-image: url('./assets/images/board-bg--mobile.jpg');
    background-attachment: inherit;
  }
}

.boxHidded {
  opacity: 0;
}

.cssload-container {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease-in-out;

  &--loading {
    visibility: visible;
    opacity: 1;
  }
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgb(255, 255, 255);
  border-left-color: rgb(251, 104, 117);
  border-radius: 824px;
  -o-border-radius: 824px;
  -ms-border-radius: 824px;
  -webkit-border-radius: 824px;
  -moz-border-radius: 824px;
}

.cssload-whirlpool {
  margin: -21px 0 0 -21px;
  height: 41px;
  width: 41px;
  animation: cssload-rotate 1750ms linear infinite;
  -o-animation: cssload-rotate 1750ms linear infinite;
  -ms-animation: cssload-rotate 1750ms linear infinite;
  -webkit-animation: cssload-rotate 1750ms linear infinite;
  -moz-animation: cssload-rotate 1750ms linear infinite;
}

.cssload-whirlpool::before {
  content: "";
  margin: -19px 0 0 -19px;
  height: 36px;
  width: 36px;
  animation: cssload-rotate 1750ms linear infinite;
  -o-animation: cssload-rotate 1750ms linear infinite;
  -ms-animation: cssload-rotate 1750ms linear infinite;
  -webkit-animation: cssload-rotate 1750ms linear infinite;
  -moz-animation: cssload-rotate 1750ms linear infinite;
}

.cssload-whirlpool::after {
  content: "";
  margin: -24px 0 0 -24px;
  height: 46px;
  width: 46px;
  animation: cssload-rotate 3500ms linear infinite;
  -o-animation: cssload-rotate 3500ms linear infinite;
  -ms-animation: cssload-rotate 3500ms linear infinite;
  -webkit-animation: cssload-rotate 3500ms linear infinite;
  -moz-animation: cssload-rotate 3500ms linear infinite;
}

@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-rotate {
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}
