mixin about()
    +b.about
        .container
            h1
                | О нас
            p
                | Наш call-центр осуществляет свою деятельность с 2015 года. За это время нам удалось наладить работу по различным направлениям, запустить несколько полезных сервисов и сделать рабочий процесс намного удобнее и лучше. Честность, ответственность и клиентоориентированый подход, являются нашими основопологающими принципами в работе. Мы не стоим на месте и постоянно развиваем новые направления, предлагаем инновационные сервисы и стараемся, как можно больше интегрировать ИТ сферу в эскорт бизнес.

            h1
                | Наши проекты
            p
                | Помимо услуг операторов и ведения рекламы на зарубежных эскорт сайтах, мы развиваем и другие направления деятельности. В их числе информационный портал обэскорте.рф (http://escortadvisor.xyz), черный и белый список клиентов в телеграм боте, группы в Telegram и мессенджере Riot. Также мы сделали свою эскорт директорию, при создании которой мы досканально проанализировали предыдущий опыт коллег и учли большую часть пожеланий пользователей. Очень скоро мы ее запустим.
            h1
                | Наша команда
            p
                | За время работы нашей компании сформировался дружный коллектив, состоящий из нескольких операторов, менеджера по работе с клиентами, администратора и программистов. Эффективность работы компании зависит от профессионализма всех членов команды, поэтому мы уделяем особое внимание обучению наших сотрудников и тщательно следим за соблюдением ими всех стандартов компании.