mixin advertising()
    +b.advertising
        +e.container
            +e.content
                h1.box-offset--95.animated.boxHidded.fadeOutDown
                    | Требуется разместить рекламу?

                ul
                    li.box-offset--95.animated.boxHidded.fadeOutDown
                        | Заполните единую для всех сайтов анкету
                    li.box-offset--95.animated.boxHidded.fadeOutDown
                        | Выберите интересующие эскорт-директории
                    li.box-offset--95.animated.boxHidded.fadeOutDown
                        | Подождите пока наш менеджер свяжется с Вами

            +e.slider.slider-mac.box-offset--95.animated.boxHidded.fadeOutDown
                +e.slider-item
                    img(src="./assets/images/mac-slider-1.jpg", alt="")

                +e.slider-item
                    img(src="./assets/images/mac-slider-1.jpg", alt="")

                +e.slider-item
                    img(src="./assets/images/mac-slider-1.jpg", alt="")