mixin benefits()
	+b.benefits
		+e.container
			h1.box-offset--95.animated.boxHidded.fadeOutDown
				| Почему именно мы?

			+e.UL.list
				+e.item.box-offset--95.animated.boxHidded.fadeOutDown
					+e.icon
					+e.P.caption
						| Выгодные условия  сотрудничества
				+e.item.box-offset--95.animated.boxHidded.fadeOutDown
					+e.icon
					+e.P.caption
						| Большая база  клиентов
				+e.item.box-offset--95.animated.boxHidded.fadeOutDown
					+e.icon
					+e.P.caption
						| Дополнительные заказы

			a(href="").btn.btn--primary.box-offset--95.animated.boxHidded.fadeOutDown
				| ОТПРАВИТЬ ЗАЯВКУ