mixin contacts()
	+b.contacts
		.container
			+e.social
				+e.A(href=' https://api.whatsapp.com/send?phone=33600000000').social-link
					+e.IMG(src="./assets/images/logo-whatsapp.png", alt="").social-icon
					+e.H2.social-name
						| WhatsApp:
					+e.P.adress
						| +33 (6) 00 00 00 00

				+e.A(href='https://t.me/xxxxxxxxxx').social-link
					+e.IMG(src="./assets/images/logo-telegram.png", alt="").social-icon
					+e.H2.social-name
						| Telegram:
					+e.P.adress
						| @xxxxxxxxxx

				+e.A(href='mailto:xxxxx@xxxxxxx.xxx').social-link
					+e.IMG(src="./assets/images/logo-mail.png", alt="").social-icon
					+e.H2.social-name
						| Почта:
					+e.P.adress
						| xxxxx@xxxxxxx.xxx

				+e.A(href='skype:xxxxxxx?call').social-link
					+e.IMG(src="./assets/images/logo-skype.png", alt="").social-icon
					+e.H2.social-name
						| Skype:
					+e.P.adress
						| xxxxxxx

			+b.form.form--contacts
				form(action="")
					+e.H1.title
						| Заполните форму, чтобы наш менеджер связался с Вами
					
					+e.row
						+e.column-50
							+e.INPUT(type="text", placeholder='Имя').input
							+e.INPUT(type="email", placeholder='E-mail').input
							+e.INPUT(type="text", placeholder='Контактный телефон').input

						+e.column-50
							+e.TEXTAREA(placeholder='Сообщение').textarea
					+e.footer
						input(type="submit" value='Отправить').form__submit