mixin conditions()
	+b.conditions.board-bg
		.container
			h1.box-offset--95.animated.boxHidded.fadeOutDown
				| Профессионализм - залог успеха 

			p.box-offset--95.animated.boxHidded.fadeOutDown
				| Наша команда имеет богатый опыт работы по разным направлениям.


			+e.UL.list
				+e.LI.item.box-offset--95.animated.boxHidded
					+e.item-holder
						+e.IMG(src="./assets/images/france.png", alt="").item-img
					+e.item-country
						| Франция  

					+e.item-price
						| ~ 250 €/час 
						span |15%|18%|30%|

				+e.LI.item.box-offset--95.animated.boxHidded
					+e.item-holder
						+e.IMG(src="./assets/images/italy.png", alt="").item-img
					+e.item-country
						| Италия  

					+e.item-price
						| ~ 200 €/час 
						span |15%|18%|30%|

				+e.LI.item.box-offset--95.animated.boxHidded
					+e.item-holder
						+e.IMG(src="./assets/images/singapore.png", alt="").item-img
					+e.item-country
						| Сингапур  

					+e.item-price
						| ~ 250 $/час 
						span |18%|30%|

				+e.LI.item.box-offset--95.animated.boxHidded
					+e.item-holder
						+e.IMG(src="./assets/images/dubai.png", alt="").item-img
					+e.item-country
						| Дубай  

					+e.item-price
						| ~ 300 $/час 
						span |18%|30%|