mixin faq()
	+b.faq
		.container
			+e.item
				+e.link Условия сотрудничества
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p
						b Услуга оператора

					p Для того, чтобы воспользоваться услугами операторов нашего call-центра Вам необходимо иметь второй рабочий телефон на системе Android с сим-картой местного оператора сотовой связи, той страны, где вы планируете работать. Наши сотрудники помогут Вам настроить телефон и установить необходимые для работы приложения.

					p
						i Стоимость услуг оператора составляет 15% с заказа или 350 у.е. в неделю (условия и возможность работы по фиксированной ставке уточняйте у менеджера).

					p Услуга включает в себя:

					ul
						li Работу оператора по общению с клиентами, в т.ч. проверку по ЧС
						li Работу менеджера по размещению и ведению рекламы
						li Консультации и помощь в любых вопросах в рамках нашей компетенции
					p Услуга не включает в себя:

					ul
						li Оплату рекламы
						li Поиск и оплату жилья
						li Оплату прочих расходов

					p
						b Услуга размещения и ведения рекламы в различных эскорт директориях

					p Если Вам не нужен оператор, но требуется поставить или оплатить рекламу, то предлагаем воспользоваться нашим сервисом по установке и ведению рекламы. Для этого Вам нужно заполнить нашу анкету, указав интересующие Вас сайты. Стоимость услуги по установке рекламы на одном эскорт сайте составляет 10 у.е. Стоимость услуги по оплате рекламы составляет 13% от стоимости самой рекламы в соответствии с тарифами рекламной площадки. Более подробно Вы можете уточнить у нашего менеджера.
			+e.item 
				+e.link Для чего нужен второй телефон на Android
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Наличие второго телефона обусловлено необходимостью указывать местный номер в объявлении. Есть мнение, что на местные номера лучше пишут клиенты. К тому же, имея на руках рабочий телефон, Вы можете лично контролировать эффективность работы рекламы и наших операторов. 
					p Процедура настройки и установки необходимых для работы программ довольно проста, справиться с ней Вам поможет наш менеджер. После проведения установки и настройки наш оператор сможет отвечать на звонки и СМС, а также общаться в мессенджерах с Вашего рабочего телефона. 
			+e.item
				+e.link По каким направлениям работаем
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Основным направлением работы нашей компании является Франция. Однако, мы работаем и по другим направлениям. Если у Вас есть опыт работы в той или иной стране в качестве инди и Вам необходим оператор для своевременного ответа на звонки и сообщения, то мы готовы предложить Вам нашу новую услугу «персональный эскорт ассистент». 
					p Персональный эскорт ассистент – это та же услуга оператора, только с фиксированной ставкой 350 у.е. в неделю. Если Вы знаете, как работать в качестве инди и не хотите постоянно заниматься рекламой, а также упускать клиентов из-за отсутствия возможности вовремя ответить, то эта услуга именно для Вас. Напишите нашему менеджеру, и он расскажет Вам все более подробно. 
			+e.item
				+e.link На каких сайтах размещаем
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p На данный момент, мы размещаем более чем на 30 рекламных эскорт площадках по всему миру. Этот список постоянно растет. С актуальным списком сайтов можно ознакомиться на нашем информационном ресурсе http://escortadvisor.xyz там жильяье можно ознакомиться с ценами на рекламу и найти много другой полезной информации.
			+e.item 
				+e.link Сколько стоит реклама
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p С ценами на рекламу можно ознакомиться на нашем информационном ресурсе http://escortadvisor.xyz Там Вы найдете подробное описание рекламных сайтов, а также много другой полезной информации по работе в интересующих Вас странах.
			+e.item
				+e.link Как оплатить рекламу
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Рекламу Вы можете оплатить несколькими способами:
					ul
						li Переводом на нашу карту
						li Биткоинами
						li По ссылке на оплату эскорт директории (доступно не для всех сайтов, возможность уточняйте у менеджера)
						li Другими способами, доступными в месте Вашего нахождения.
			+e.item
				+e.link Как оплатить наши услуги
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Наши услуги Вы можете оплатить несколькими способами:
					ul
						li Переводом на нашу карту
						li Биткоинами
						li Другими способами, доступными в месте Вашего нахождения.
			+e.item
				+e.link Чем мы отличаемся от агентства
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Технически, мы выполняем все те же функции, что и классическое эскорт агентство, с тем отличием, что мы не делаем рассылку по клиентской базе. Однако, это не означает, что у нас нет большой базы проверенных клиентов по разным направлениям. Также мы не занимаемся арендой, визами и не делаем фотографий для работы. 
			+e.item
				+e.link Как мы проверяем клиентов
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p В нашем арсенале имеется несколько инструментов проверки клиентов. В первую очередь, операторы проверяют гостей по черным спискам
			+e.item
				+e.link Помогаем ли мы снять жилье
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Нет, мы не занимаемся арендой. Мы можем поделиться информацией о том, как и где искать, дать контакты риелторов, если таковые у нас есть по интересующему Вас направлению и проконсультировать по уже найденным Вами вариантам.  
			+e.item
				+e.link Бронируем ли мы отели
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Мы можем забронировать отель на Ваши данные.
			+e.item
				+e.link Владеем ли мы информацией по рабочим отелям
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Да, у нас большой список рабочих отелей по всему миру. Также, мы помогаем найти информацию о рабочих отелях, если в нашем списке нет интересующего Вас направления. Подробности Вы можете узнать у нашего менеджера.
			+e.item
				+e.link Делаем ли мы визы
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Нет, мы не занимаемся оформлением виз.
			+e.item
				+e.link Делаем ли мы фото для работы
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Нет, мы не занимаемся фото продакшном.
			+e.item
				+e.link Кредитуем ли мы
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Нет, мы не кредитуем. Без исключений.
			+e.item
				+e.link Можем ли мы оплатить рекламу
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Мы можем оплатить рекламу в частном порядке, однако, в таком случае, мы работаем по другим условиям. Условия такого сотрудничества уточняйте у менеджера.
			+e.item
				+e.link Даем ли мы доп. заказы
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Это зависит от загруженности операторов. Техническую возможность и условия уточняйте у нашего менеджера. 
			+e.item
				+e.link Какие фото нужны для работы
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p НАПИСАТЬ
			+e.item
				+e.link Работаем ли мы по фейкам
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Изначально, мы против работы по фейкам, но в случае, когда работа по своим фото не приносит никакого результата, мы идем на компромисс и ставим фейки. В остальных случаях, мы не работаем по фейкам.
			+e.item
				+e.link Можно ли работать с закрытым лицом
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Вы можете замазать лицо на фото, но, как показывает практика, это негативно сказывается на интерес гостей к Вашей анкете. Также на некоторых сайтах возникает проблема с верификацией анкет с замазанным лицом. 
			+e.item
				+e.link Можно ли работать только на outcall
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Можно, но работы будет мало. Основной поток клиентов предпочитают встречи на Вашей территории и выезды составляют лишь небольшой процент. 
			+e.item
				+e.link Можно ли работать с нами и с агентством параллельно
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Да, такая возможность есть, при условии, что нет конфликта интересов и Ваше агентство не против такого сотрудничества.
			+e.item
				+e.link Какое направление самое лучшее
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Все направления разные и везде есть свои плюсы и минусы. Нельзя выделить какое-то особенное направление, где у всех всегда есть работа, в противном случае все бы туда ездили. С особенностями работы по интересующим Вас странам можно ознакомиться на нашем информационном ресурсе http://escortadvisor.xyz 
			+e.item
				+e.link Будет ли у Вас работа
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p Этого Вам гарантировать никто не может. НАПИСАТЬ
			+e.item
				+e.link Сколько нужно денег, чтобы начать
					+e.state 
						+e.state-open Показать ответ
						+e.state-close Скрыть ответ
				+e.content
					p График работы операторов