mixin header()
	+b.HEADER.header
		+e.A(href='./index.html').logo
			+e.IMG(src="./assets/images/logo.png", alt="").logo-pic

		button(type='button').header__hamburger
			span.header__hamburger-box
				span.header__hamburger-inner

		+e.UL.nav
			+e.LI.nav-item
				+e.A(href='./about.html').nav-link
					| О компании

			+e.LI.nav-item
				+e.A(href='./faq.html').nav-link
					| FAQ

			+e.LI.nav-item
				+e.A(href='./contacts.html').nav-link
					| Контакты

		+e.A(href='tel:+33 (6) 00 00 00 00').phone
			| +33 (6) 00 00 00 00 