mixin hero()
	+b.hero.hero--primary
		//- +e.IMG(src="./assets/images/hero-bg.jpg", alt="").background
		+e.container
			+e.content.animated.fadeInUp
				+e.H1.title
					| FRANKLIN ESCORT SERVICE

				+e.H2.subtitle
					| ЭСКОРТ CALL-ЦЕНТР №1

				+e.P.descr
					| Мы предоставляем качественные услуги операторов в эскорт турах,
					| помогаем размещать рекламу и консультируем по всем вопросам, 
					| возникающим в процессе работы.