mixin hero_about()
	+b.hero.hero--default
		.hero__background(style='background-image: url("./assets/images/hero-about.jpg");')
		+e.H1.title
			| FRANKLIN ESCORT SERVICE
			span
				| ЭСКОРТ CALL-ЦЕНТР №1