include ../../bemto/bemto.pug

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Franklin

		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,700,700i&amp;subset=cyrillic")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css")
		link(rel='stylesheet', href='main.css')

	body
		block content


		
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		//- script(src='https://cdnjs.cloudflare.com/ajax/libs/parallax.js/1.5.0/parallax.min.js')
		//- script(src='https://cdnjs.cloudflare.com/ajax/libs/file-uploader/5.16.2/s3.jquery.fine-uploader/s3.jquery.fine-uploader.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')
		script(src="app.js" type="text/javascript")