mixin order()
	+b.order.board-bg
		+e.container
			+e.content
				h1
					| Услуги профессионального оператора от 18% с заказа
				
				p
					b
						| Нам доверяют!

					| Более 2 лет продуктивной работы, подтвержденной множеством положительных отзывов. 

				+e.UL.benefits
					+e.LI.benefits-item.box.animated.boxHidded.fadeOutDown
						+e.IMG(src="./assets/images/headset.png", alt="").benefits-icon
						+e.SPAN.benefits-caption
							| Поддержка 24/7
					+e.LI.benefits-item.box.animated.boxHidded.fadeOutDown
						+e.IMG(src="./assets/images/shield.png", alt="").benefits-icon
						+e.SPAN.benefits-caption
							| Тщательная проверка клиентов
					+e.LI.benefits-item.box.animated.boxHidded.fadeOutDown
						+e.IMG(src="./assets/images/deal.png", alt="").benefits-icon
						+e.SPAN.benefits-caption
							| Прозрачная схема работы

				//- .box.animated.boxHidded.fadeOutDown(data-wow-duration="1s", data-wow-delay="1.5s") .wow(data-wow-delay="1.5s")
			+e.slider.slider-phone
				+e.slider-item
					img(src="./assets/images/order-slider-1.jpg", alt="")
				+e.slider-item
					img(src="./assets/images/order-slider-1.jpg", alt="")
				+e.slider-item
					img(src="./assets/images/order-slider-1.jpg", alt="")
