mixin questionnaire()
	+b.questionnaire
		+e.container
			+e.P.text.box-offset--95.animated.boxHidded.fadeOutDown
				| Более 30 рекламных площадок по всему миру, 
				| включаяя международные эскорт директории,
				| на которых мы можем разместить Вашу анкету

			a(href="").btn.btn--primary.box.animated.boxHidded
				| ЗАПОЛНИТЬ АНКЕТУ