mixin reviews()
	+b.reviews.board-bg
		+e.container
			h1.box-offset--95.animated.boxHidded.fadeOutDown
				| Нужны отзывы и комментарии от клиентов?

			+e.UL.list
				+e.LI.step.box-offset--95.animated.boxHidded.fadeOutDown
					+e.step-number
						| 1
					+e.step-descr
						| Свяжитесь с нами любым,  удобным для Вас способом
				+e.LI.step.box-offset--95.animated.boxHidded.fadeOutDown
					+e.step-number
						| 2
					+e.step-descr
						| Пришлите ссылку на профайл и напишите Ваши пожелания
				+e.LI.step.box-offset--95.animated.boxHidded.fadeOutDown
					+e.step-number
						| 3
					+e.step-descr
						| Оплатите услугу и ожидайте,  когда отзыв появится в профиле


			a(href="").btn.btn--primary.btn--black.box-offset--95.animated.boxHidded.fadeOutDown
				| ЗАКАЗАТЬ УСЛУГУ