extends partials/_layout
include partials/_mixins
include partials/_hero-about
include partials/_header
include partials/_about
include partials/_footer



block content

	.cssload-container.cssload-container--loading
		.cssload-whirlpool

	+header()

	+hero_about()

	+about()
	

	+footer()

	.hidden-svg
		<!-- inject:svg -->
		<!-- endinject -->