extends partials/_layout
include partials/_mixins
include partials/_hero-about
include partials/_header
include partials/_contacts
include partials/_footer



block content

	.cssload-container.cssload-container--loading
		.cssload-whirlpool

	+header()

	+contacts()
	
	+footer()

	.hidden-svg
		<!-- inject:svg -->
		<!-- endinject -->