extends partials/_layout
include partials/_mixins
include partials/_hero-about
include partials/_header
include partials/_faq
include partials/_footer



block content

	.cssload-container.cssload-container--loading
		.cssload-whirlpool

	+header()

	+b.hero.hero--default
		.hero__background(style='background-image: url("./assets/images/hero-faq.jpg");')
		
		+e.H1.title
			| FRANKLIN ESCORT SERVICE
			span
				| ЭСКОРТ CALL-ЦЕНТР №1

	+faq()
	
	+footer()

	.hidden-svg
		<!-- inject:svg -->
		<!-- endinject -->