extends partials/_layout
include partials/_mixins
include partials/_hero
include partials/_header
include partials/_order
include partials/_advertising
include partials/_questionnaire
include partials/_conditions
include partials/_reviews
include partials/_benefits
include partials/_footer



block content

    .cssload-container.cssload-container--loading
        .cssload-whirlpool

    .cssload-container.cssload-container--loading
        .cssload-whirlpool

    +header()

    +hero()

    +order()

    +advertising()

    +questionnaire()

    +conditions()

    +benefits()

    +reviews()

    +footer()

    .hidden-svg
        <!-- inject:svg -->
        <!-- endinject -->