extends partials/_layout
include partials/_mixins
include partials/_header
include partials/_footer



block content

	.cssload-container.cssload-container--loading
		.cssload-whirlpool

	+header()
	
	+b.hero.hero--default
		.hero__background(style='background-image: url("./assets/images/hero-profile.jpg");')
		.container
			+e.P.text
				| Для каждого эскорт сайта свои правила верификации. С ними можно ознакомиться на нашем информационном портале www.aboutescort.com. Обращаем Ваше внимание, что по верифицированным анкетам работа идет лучше.

		+e.H1.title
			| FRANKLIN ESCORT SERVICE
			span
				| ЭСКОРТ CALL-ЦЕНТР №1

	+b.settings
		.container
			+e.nav
				a(href="").settings__nav-link Основное
				a(href="").settings__nav-link Рабочее
				a(href="").settings__nav-link Дополнительно
				a(href="").settings__nav-link Контакты
				a(href="").settings__nav-link Медиа
				a(href="").settings__nav-link.settings__nav-link--active Верификация
				a(href="").settings__nav-link Аккаунты


			+b.panel
				+e.header
					h1 ФОТОГРАФИИ И ВИДЕО
				
				+e.body
					+e.container
						+b.form
							+e.holder
								h2.form__title
									| СЕЛФИ
								p.form__text
									| Загрузите 2-3 селфи, на которых хорошо видно Ваше лицо
									br
									| Допустимые расширения - JPG, PNG
									br
									| Максимальный размер фотографии 2048x2048 px

								button.btn.btn--default
									| Добавить

							+e.holder
								h2.form__title
									| ФОТО ДОКУМЕНТА
								p.form__text
									| Загрузите фотографию или скан документа, где хорошо видна фотография
									br
									| Для большинства сайтов данные можно замазать или прикрыть листом бумаги
									br
									| Допустимые расширения - JPG, PNG
									br
									| Максимальный размер фотографии 2048x2048 px
								button.btn.btn--default
									| Добавить
							+e.holder
								h2.form__title
									|ПРОВЕРОЧНЫЕ ФОТО
								p.form__text
									| Загрузите проверочные селфи с сегодняйшней датой для сайтов
									br
									| Уточнить требования к проверочным фото для конкретного сайта Вы можете у нашего менеджера
									br
									| Допустимые расширения - JPG, PNG
									br
									| Максимальный размер фотографии 2048x2048 px
								button.btn.btn--default
									| Добавить

						
					
				+e.footer
					button.btn.btn--disable
						+icon('btn-arrow').btn__arrow.btn__arrow--back
						| Назад
					button.form__next.btn.btn--default Далее
						+icon('btn-arrow').btn__arrow
	
	+footer()

	.hidden-svg
		<!-- inject:svg -->
		<!-- endinject -->