extends partials/_layout
include partials/_mixins
include partials/_header
include partials/_footer



block content

	.cssload-container.cssload-container--loading
		.cssload-whirlpool

	+header()

	+b.hero.hero--default
		.hero__background(style='background-image: url("./assets/images/hero-profile.jpg");')
		.container
			+e.P.text
				| Заполните анкету и выберите рекламные эскорт сайты, на которых Вы хотите разместить свой профиль.
			+e.P.text.hero__text--italic
				| Если у Вас уже есть аккаунт на каком-ниудь сайте, пришлите нам ссылку, и мы создадим анкету на его основе.


		+e.H1.title
			| FRANKLIN ESCORT SERVICE
			span
				| ЭСКОРТ CALL-ЦЕНТР №1

	+b.settings
		.container
			+e.nav
				a(href="").settings__nav-link.settings__nav-link--active Основное
				a(href="").settings__nav-link Рабочее
				a(href="").settings__nav-link Дополнительно
				a(href="").settings__nav-link Контакты
				a(href="").settings__nav-link Медиа
				a(href="").settings__nav-link Верификация
				a(href="").settings__nav-link Аккаунты


			+b.panel
				form(action="")#form-general
					+e.header
						h1 ОСНОВНЫЕ ДАННЫЕ 
					
					+e.body
						+e.container
							+b.form
								h2.form__title
									| ССЫЛКА НА ПРОФИЛЬ И ТЕЛЕФОН ДЛЯ СВЯЗИ С ВАМИ
									span Телефон необходимо указать в международном формате, например, +71234567890
								+e.row
									+e.item.form__item--md
										.form__caption Ваш номер телефона:
											span *
										+e.INPUT(type="text" required).input
										p.error-text Необходимо заполнить это поле
									+e.item.form__item--lg
										.form__caption Ссылка на Вашу анкету:
										+e.INPUT(type="text").input

									button.btn.btn--default.btn--indent-big Отправить

								h2.form__title ИНФО

								+e.row
									+e.item.form__item--md
										.form__caption Псевдоним:
											span *
										+e.INPUT(type="text" required).input
										p.error-text Необходимо заполнить это поле

									+e.item.form__item--md
										.form__caption Пол:
											span *
										select#gender.form__select(name="" required)
											option(value="" selected disabled) Выберите
											option(value="1") fjefiew
											option(value="2") erfklq
										p.error-text Необходимо заполнить это поле

									+e.item.form__item--lg
										.form__caption Дата рождения:
											span *
										+e.item-list
											select#day.form__select(name="")
												option(value="") День
												option(value="") 12
												option(value="") 11
												option(value="") 12
												option(value="") 11
												option(value="") 12
												option(value="") 11
											select#mouth.form__select(name="")
												option(value="") Месяц
												option(value="") Месяц1
												option(value="") Месяц2
												option(value="") Месяц3
												option(value="") Месяц4
												option(value="") Месяц5
												option(value="") Месяц6
											select#year.form__select(name="" required)
												option(value=""  selected disabled) Год
												option(value="1") 19999
												option(value="2") 1923
												option(value="3") 3546
										p.error-text Необходимо заполнить это поле
								+e.row
									+e.item.form__item--md
										.form__caption Рост: 
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq

									+e.item.form__item--md
										.form__caption Вес: 
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq

									+e.item.form__item--lg
										.form__caption Объемы:
										+e.item-list
											input.form__input(type="text")
											input.form__input(type="text")
											input.form__input(type="text")

								+e.row
									+e.item.form__item--md
										.form__caption Размер груди: 
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq

									+e.item.form__item--md
										.form__caption Грудь: 
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq

									+e.item.form__item--md
										.form__caption Размер одежды: 
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq

									+e.item.form__item--md
										.form__caption Размер обуви: 
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq

								+e.row
									+e.item.form__item--md
										.form__caption Раса:
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq

									+e.item.form__item--md
										.form__caption Цвет волос: 
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq

									+e.item.form__item--md
										.form__caption Длина волос: 
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq

									+e.item.form__item--md
										.form__caption Цвет глаз: 
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq

								+e.row.form__row--lang
									+e.item.form__item--md
										.form__caption Языки: 
										select#gender.form__select.form__select--lang-txt(name="")
											option(value="0") Выберите
											option(value="1") Русский
											option(value="2") Английский
											option(value="3") Немецкий
											option(value="4") Китайский
											option(value="5") Французский
											option(value="6") Португальский

									+e.item.form__item--md
										.form__caption Уровень: 
										select#gender.form__select.form__select--lang-lvl(name="")
											option(value="0") Выберите
											option(value="1") 1
											option(value="2") 2
											option(value="3") 3
											option(value="4") 4

								+e.row.form__row--lang-result
									.form__row--lang-result-hidden

								h2.form__title МЕЖДУНАРОДНЫЕ ЭСКОРТ ДИРЕКТОРИИ

								+e.row
									+e.LABEL.item.form__item--checkbox
										.form__caption City of love
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption T.E.B. 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Escortnews
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Escort24h 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
								+e.row
									+e.LABEL.item.form__item--checkbox
										.form__caption EuroGirls 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption HappyEscorts 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Escort.Guide 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Slavic-comp.
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
								+e.row
									+e.LABEL.item.form__item--checkbox
										.form__caption Escort-eur.
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Escortdirect.
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
								
								h2.form__title ЭСКОРТ  ДИРЕКТОРИИ ФРАНЦИИ

								+e.row
									+e.LABEL.item.form__item--checkbox
										.form__caption 6annonce 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Sexemodel
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption EscortGuide 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Tescort
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
								+e.row
									+e.LABEL.item.form__item--checkbox
										.form__caption LadyXena 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption VivaStreet 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Allo-escort
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Escort-fr
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
								+e.row
									+e.LABEL.item.form__item--checkbox
										.form__caption Escortzone-fr 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox

								h2.form__title ЭСКОРТ  ДИРЕКТОРИИ ИТАЛИИ

								+e.row
									+e.LABEL.item.form__item--checkbox
										.form__caption EscortForum  
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Escorta
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Escortzone-it 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Pablitoescort
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox

								h2.form__title ЭСКОРТ  ДИРЕКТОРИИ ОАЭ

								+e.row
									+e.LABEL.item.form__item--checkbox
										.form__caption DubaiEscorts   
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption UberGirls 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption MassageRep.
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption D.E.B. 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox

								h2.form__title ЭСКОРТ  ДИРЕКТОРИИ АНГЛИИ

								+e.row
									+e.LABEL.item.form__item--checkbox
										.form__caption EscortGuide    
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption AdultWork 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption SexyIndep.
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption UKadultZone
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox

								+e.row
									+e.LABEL.item.form__item--checkbox
										.form__caption MyLocalEsc.
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox

								h2.form__title ЭСКОРТ  ДИРЕКТОРИИ СКАНДИНАВИИ

								+e.row
									+e.LABEL.item.form__item--checkbox
										.form__caption RealEscort     
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Sex-tjejer 
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Rosasidan
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox

								h2.form__title ЭСКОРТ  ДИРЕКТОРИИ БЕЛЬГИИ

								+e.row
									+e.LABEL.item.form__item--checkbox
										.form__caption Beneluxxx     
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption Divine
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox

								h2.form__title ЭСКОРТ  ДИРЕКТОРИИ СИНГАПУРА

								+e.row
									+e.LABEL.item.form__item--checkbox
										.form__caption Locanto      
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox
									+e.LABEL.item.form__item--checkbox
										.form__caption SammyBoy
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox

					+e.footer.panel__footer--next
						button(type="submit" form='form-general').form__next.btn.btn--default Далее
							+icon('btn-arrow').btn__arrow
	
	+footer()

	.hidden-svg
		<!-- inject:svg -->
		<!-- endinject -->