extends partials/_layout
include partials/_mixins
include partials/_header
include partials/_footer



block content

	.cssload-container.cssload-container--loading
		.cssload-whirlpool

	+header()
	
	+b.hero.hero--default
		.hero__background(style='background-image: url("./assets/images/hero-profile.jpg");')
		.container
			+e.P.text
				| На некоторых сайтах предусмотрена возможность отключить отзывы и комментарии, а также установить блокировку по IP для разных стран. Вы можете добавить логин и пароль, чтобы мы указали его при регистрации.

		+e.H1.title
			| FRANKLIN ESCORT SERVICE
			span
				| ЭСКОРТ CALL-ЦЕНТР №1

	+b.settings
		.container
			+e.nav
				a(href="").settings__nav-link Основное
				a(href="").settings__nav-link Рабочее
				a(href="").settings__nav-link Дополнительно
				a(href="").settings__nav-link Контакты
				a(href="").settings__nav-link Медиа
				a(href="").settings__nav-link Верификация
				a(href="").settings__nav-link.settings__nav-link--active Аккаунты


			+b.panel
				+e.header
					h1 ДОСТУП К АККАУНТАМ
				
				+e.body
					+e.container
						+b.form
							h2.form__title
								| ПРИВАТНОСТЬ
							+e.row.form__row--country
								+e.item.form__item--md
									.form__caption
										| Блок на страны:
									select.form__select(name="")
										option(value="0") Выберите
										option(value="1") Россия
										option(value="2") Украина
										option(value="3") Турция
										option(value="4") США
										option(value="5") Франция
										option(value="6") Казахстан
										option(value="7") Англия
										option(value="8") Германия
										option(value="9") Испания
										option(value="10") Китай
								+e.LABEL.item.form__item--checkbox
									.form__caption Отключить комментарии 
									input(type="checkbox").form__checkbox
									i.form__custom-checkbox
								+e.LABEL.item.form__item--checkbox
									.form__caption Отключить отзывы 
									input(type="checkbox").form__checkbox
									i.form__custom-checkbox

							h2.form__title
								| ПОЧТА
								span
									| Вы можете ввести логин с паролем от уже созданной Вами почты и деактивировать ползунок регистрации либо ввести тот логин с паролем, который Вы бы хотели, чтобы мы указали при регистрации новой почты, либо оставить все без изменений, и мы сами сгенерируем эти данные. 

							+e.row
								+e.column-50
									+e.column-row
										+e.item.form__item--md
										+e.item.form__item--md
											.form__caption Логин
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Gmail 
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Yahoo  

										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Yandex 

										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Mail.ru  

										+e.item.form__item--md
											+e.INPUT(type="text").input
								+e.column-50
									+e.column-row
										+e.item.form__item--md
											.form__caption Пароль:
										+e.item.form__item--md.form__item--horizontal-center
											.form__caption Требуется регистрация 
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox

							h2.form__title
								| МЕЖДУНАРОДНЫЕ ЭСКОРТ ДИРЕКТОРИИ
								span
									| Вы можете ввести логин с паролем от уже созданного Вами аккаунта и деактивировать ползунок регистрации либо ввести тот логин с паролем, который Вы бы хотели, чтобы мы указали при регистрации нового аккаунта, либо оставить все без изменений, и мы сами сгенерируем эти данные.
							
							+e.row
								+e.column-50
									+e.column-row
										+e.item.form__item--md
										+e.item.form__item--md
											.form__caption Логин
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption TopEscortBabes 
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption EscortNews  
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Escort24h 
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Eurogirls
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption HappyEscorts 
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Escort.guide  

										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Slavic-companions 

										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Escort-europe

										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Escortdirectory

										+e.item.form__item--md
											+e.INPUT(type="text").input
								+e.column-50
									+e.column-row
										+e.item.form__item--md
											.form__caption Пароль:
										+e.item.form__item--md.form__item--horizontal-center
											.form__caption Требуется регистрация 
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox

							h2.form__title
								| ЭСКОРТ ДИРЕКТОРИИ ФРАНЦИИ
								
							+e.row
								+e.column-50
									+e.column-row
										+e.item.form__item--md
										+e.item.form__item--md
											.form__caption Логин
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption 6annonce 
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Sexemodels  
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Escortguide.tv 
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Tescort
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption LadyXena 
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption VivaStreet
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Allo-escort
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Escort-fr
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption EscortZone
										+e.item.form__item--md
											+e.INPUT(type="text").input
								+e.column-50
										+e.column-row
											+e.item.form__item--md
												.form__caption Пароль:
											+e.item.form__item--md.form__item--horizontal-center
												.form__caption Требуется регистрация 
										+e.column-row
											+e.item.form__item--md
												+e.INPUT(type="text").input
											+e.LABEL.item.form__item--md.form__item--horizontal-center
												input(type="checkbox").form__checkbox
												i.form__custom-checkbox
										+e.column-row
											+e.item.form__item--md
												+e.INPUT(type="text").input
											+e.LABEL.item.form__item--md.form__item--horizontal-center
												input(type="checkbox").form__checkbox
												i.form__custom-checkbox
										+e.column-row
											+e.item.form__item--md
												+e.INPUT(type="text").input
											+e.LABEL.item.form__item--md.form__item--horizontal-center
												input(type="checkbox").form__checkbox
												i.form__custom-checkbox
										+e.column-row
											+e.item.form__item--md
												+e.INPUT(type="text").input
											+e.LABEL.item.form__item--md.form__item--horizontal-center
												input(type="checkbox").form__checkbox
												i.form__custom-checkbox
										+e.column-row
											+e.item.form__item--md
												+e.INPUT(type="text").input
											+e.LABEL.item.form__item--md.form__item--horizontal-center
												input(type="checkbox").form__checkbox
												i.form__custom-checkbox
										+e.column-row
											+e.item.form__item--md
												+e.INPUT(type="text").input
											+e.LABEL.item.form__item--md.form__item--horizontal-center
												input(type="checkbox").form__checkbox
												i.form__custom-checkbox
										+e.column-row
											+e.item.form__item--md
												+e.INPUT(type="text").input
											+e.LABEL.item.form__item--md.form__item--horizontal-center
												input(type="checkbox").form__checkbox
												i.form__custom-checkbox
										+e.column-row
											+e.item.form__item--md
												+e.INPUT(type="text").input
											+e.LABEL.item.form__item--md.form__item--horizontal-center
												input(type="checkbox").form__checkbox
												i.form__custom-checkbox
										+e.column-row
											+e.item.form__item--md
												+e.INPUT(type="text").input
											+e.LABEL.item.form__item--md.form__item--horizontal-center
												input(type="checkbox").form__checkbox
												i.form__custom-checkbox
							h2.form__title
								| ЭСКОРТ ДИРЕКТОРИИ ИТАЛИИ
								
							+e.row
								+e.column-50
									+e.column-row
										+e.item.form__item--md
										+e.item.form__item--md
											.form__caption Логин
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption EscortForumIt 

										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Escorta  
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Italyescortzone
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Pablitoescort

										+e.item.form__item--md
											+e.INPUT(type="text").input
								
								+e.column-50
									+e.column-row
										+e.item.form__item--md
											.form__caption Пароль:
										+e.item.form__item--md.form__item--horizontal-center
											.form__caption Требуется регистрация 
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox

							h2.form__title
								| ЭСКОРТ ДИРЕКТОРИИ ОАЭ
								
							+e.row
								+e.column-50
									+e.column-row
										+e.item.form__item--md
										+e.item.form__item--md
											.form__caption Логин
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption DubaiEscort 
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption UberGirls  
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption MassageRepublic
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption DubaiEscortBabes
										+e.item.form__item--md
											+e.INPUT(type="text").input
								+e.column-50
									+e.column-row
										+e.item.form__item--md
											.form__caption Пароль:
										+e.item.form__item--md.form__item--horizontal-center
											.form__caption Требуется регистрация 
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox

							h2.form__title
								| ЭСКОРТ ДИРЕКТОРИИ АНГЛИИ
								
							+e.row
								+e.column-50
									+e.column-row
										+e.item.form__item--md
										+e.item.form__item--md
											.form__caption Логин
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption EscortGuideCoUK 
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption AdultWork  
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Sexyindependent
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption UKadultzone
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption MyLocalEscorts
										+e.item.form__item--md
											+e.INPUT(type="text").input
								+e.column-50
									+e.column-row
										+e.item.form__item--md
											.form__caption Пароль:
										+e.item.form__item--md.form__item--horizontal-center
											.form__caption Требуется регистрация 
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox

							h2.form__title
								| ЭСКОРТ ДИРЕКТОРИИ США
								
							+e.row
								+e.column-50
									+e.column-row
										+e.item.form__item--md
										+e.item.form__item--md
											.form__caption Логин
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Eros 
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption SugarNights  
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Slixa
										+e.item.form__item--md
											+e.INPUT(type="text").input
								+e.column-50
									+e.column-row
										+e.item.form__item--md
											.form__caption Пароль:
										+e.item.form__item--md.form__item--horizontal-center
											.form__caption Требуется регистрация 
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox

							h2.form__title
								| ЭСКОРТ ДИРЕКТОРИИ СКАНДИНАВИИ
								
							+e.row
								+e.column-50
									+e.column-row
										+e.item.form__item--md
										+e.item.form__item--md
											.form__caption Логин
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Realescort 
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Sex-tjejer  
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Rosasidan
										+e.item.form__item--md
											+e.INPUT(type="text").input
								+e.column-50
									+e.column-row
										+e.item.form__item--md
											.form__caption Пароль:
										+e.item.form__item--md.form__item--horizontal-center
											.form__caption Требуется регистрация 
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox


							h2.form__title
								| ЭСКОРТ ДИРЕКТОРИИ БЕЛЬГИИ
								
							+e.row
								+e.column-50
									+e.column-row
										+e.item.form__item--md
										+e.item.form__item--md
											.form__caption Логин
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Beneluxxx 
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Divine
										+e.item.form__item--md
											+e.INPUT(type="text").input
								+e.column-50
									+e.column-row
										+e.item.form__item--md
											.form__caption Пароль:
										+e.item.form__item--md.form__item--horizontal-center
											.form__caption Требуется регистрация 
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
							h2.form__title
								| ЭСКОРТ ДИРЕКТОРИИ СИНГАПУРА
								
							+e.row
								+e.column-50
									+e.column-row
										+e.item.form__item--md
										+e.item.form__item--md
											.form__caption Логин
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Locanto 
										+e.item.form__item--md
											+e.INPUT(type="text").input
									+e.column-row
										+e.item.form__item--md.form__item--vertical-center
											.form__caption Sammyboy
										+e.item.form__item--md
											+e.INPUT(type="text").input

								+e.column-50
									+e.column-row
										+e.item.form__item--md
											.form__caption Пароль:
										+e.item.form__item--md.form__item--horizontal-center
											.form__caption Требуется регистрация 
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
									+e.column-row
										+e.item.form__item--md
											+e.INPUT(type="text").input
										+e.LABEL.item.form__item--md.form__item--horizontal-center
											input(type="checkbox").form__checkbox
											i.form__custom-checkbox
				+e.footer
					button.btn.btn--disable
						+icon('btn-arrow').btn__arrow.btn__arrow--back
						| Назад
					button.form__next.btn.btn--default Далее
						+icon('btn-arrow').btn__arrow
	
	+footer()

	.hidden-svg
		<!-- inject:svg -->
		<!-- endinject -->