extends partials/_layout
include partials/_mixins
include partials/_header
include partials/_footer



block content

    .cssload-container.cssload-container--loading
        .cssload-whirlpool

    +header()

    +b.hero.hero--default
        .hero__background(style='background-image: url("./assets/images/hero-profile.jpg");')
        .container
            +e.P.text
                |    Заполните информацию об условиях, по которым Вы готовы работать, графике и географии туров.
            +e.P.text.hero__text--italic
                | Если Вы не знаете как заполнить какой-либо пункт, просто пропустите его. Всю недостающую информацию уточнит у Вас наш менеджер.


        +e.H1.title
            | FRANKLIN ESCORT SERVICE
            span
                | ЭСКОРТ CALL-ЦЕНТР №1

    +b.settings
        .container
            +e.nav
                a(href="").settings__nav-link Основное
                a(href="").settings__nav-link.settings__nav-link--active Рабочее
                a(href="").settings__nav-link Дополнительно
                a(href="").settings__nav-link Контакты
                a(href="").settings__nav-link Медиа
                a(href="").settings__nav-link Верификация
                a(href="").settings__nav-link Аккаунты


            +b.panel
                form(action="")
                    +e.header
                        h1 ОСНОВНЫЕ ДАННЫЕ

                    +e.body
                        +e.container
                            +b.form
                                h2.form__title
                                    | ИНФОРМАЦИЯ О МЕСТОПОЛОЖЕНИИ

                                +e.row
                                    +e.item.form__item--md
                                        .form__caption Страна тура:
                                            span *
                                        select#gender.form__select(name="")
                                            option(value="") Выберите
                                            option(value="") fjefiew
                                            option(value="") erfklq
                                    +e.item.form__item--md
                                        .form__caption Базовый город:
                                            span *
                                        select#gender.form__select(name="")
                                            option(value="") Выберите
                                            option(value="") fjefiew
                                            option(value="") erfklq
                                    +e.item.form__item--disabled.form__item--md
                                        .form__caption Район:

                                        select#gender.form__select(name="" disabled)
                                            option(value="") Выберите
                                            option(value="") fjefiew
                                            option(value="") erfklq
                                    +e.item.form__item--md
                                        .form__caption Доп. город:

                                        select#gender.form__select(name="")
                                            option(value="") Выберите
                                            option(value="") fjefiew
                                            option(value="") erfklq

                                +e.row
                                    +e.item.form__item--md
                                        .form__caption Город тура:
                                            span *
                                        select#gender.form__select(name="")
                                            option(value="") Выберите
                                            option(value="") fjefiew
                                            option(value="") erfklq

                                    +e.item.form__item--md
                                        .form__caption Дата тура:

                                        +e.item-list
                                            select.form__select.form__column--50(name="")
                                                option(value="") с
                                                option(value="") 12
                                                option(value="") 11

                                            .form__line

                                            select.form__select.form__column--50(name="")
                                                option(value="") до
                                                option(value="") 12
                                    +e.item.form__item--md
                                        .form__caption Время:

                                        +e.item-list
                                            select.form__select.form__column--50(name="")
                                                option(value="") с
                                                option(value="") 12
                                                option(value="") 11

                                            .form__line

                                            select.form__select.form__column--50(name="")
                                                option(value="") до
                                                option(value="") 13

                                    +e.item.form__item--md
                                        button.btn.btn--plus


                                h2.form__title
                                    | ИНФОРМАЦИЯ О ЦЕНАХ

                                +e.row
                                    .form__row-title
                                        | Инкол

                                    +e.item.form__item--md
                                        .form__caption Место:
                                        select.form__select(name="")
                                            option(value="") Выберите
                                            option(value="") fjefiew
                                            option(value="") erfklq

                                    +e.item.form__item--sm
                                        .form__caption Сколько:
                                        +e.INPUT(type="text").input

                                    +e.item.form__item--md
                                        .form__caption Мин/Час/Сут/Нед:
                                        select.form__select(name="")
                                            option(value="") Выберите
                                            option(value="") fjefiew
                                            option(value="") erfklq

                                    +e.item.form__item--sm
                                        .form__caption Стоим.:
                                        +e.INPUT(type="text").input

                                    +e.item.form__item--sm
                                        .form__caption У.Е.:
                                        select.form__select(name="")
                                            option(value="")
                                            option(value="") вуцц1
                                            option(value="") 23ц3

                                    button.btn.btn--plus

                                +e.row
                                    .form__row-title
                                        | Ауткол
                                    +e.item.form__item--md
                                        select.form__select(name="")
                                            option(value="") Выберите
                                            option(value="") fjefiew
                                            option(value="") erfklq
                                    +e.item.form__item--sm
                                        +e.INPUT(type="text").input
                                    +e.item.form__item--md
                                        select.form__select(name="")
                                            option(value="") Выберите
                                            option(value="") fjefiew
                                            option(value="") erfklq
                                    +e.item.form__item--sm
                                        +e.INPUT(type="text").input
                                    +e.item.form__item--sm
                                        select.form__select(name="")
                                            option(value="")
                                            option(value="") fjefiew
                                            option(value="") епл
                                    button.btn.btn--plus


                                +e.row
                                    +e.item.form__item--md
                                        .form__caption Индекс:

                                        +e.INPUT(type="text").input
                                    +e.item.form__item--md
                                        .form__caption Название клуба:
                                        +e.INPUT(type="text").input

                                    +e.item.form__item--md
                                        .form__caption Улица рядом:
                                        +e.INPUT(type="text").input
                                    +e.item.form__item--md
                                        .form__caption Другое:
                                        +e.INPUT(type="text").input

                                h2.form__title
                                    | ГРАФИК РАБОТЫ
                                +e.row
                                    +e.LABEL.item.form__item--checkbox.form__item--checkbox-sm
                                        .form__caption 24/7
                                        input(type="checkbox").form__checkbox
                                        i.form__custom-checkbox

                                    +e.item.form__item--md
                                        .form__caption Рабочие дни:
                                        select#gender.form__select(name="")
                                            option(value="") Выберите
                                            option(value="") fjefiew
                                            option(value="") erfklq

                                    +e.item.form__item--md
                                        .form__row.form__row--caption
                                            .form__caption Начало:
                                            .form__caption Конец:

                                        +e.item-list
                                            select.form__select.form__column--50(name="")
                                                option(value="") с
                                                option(value="") 12
                                                option(value="") 11

                                            .form__line

                                            select.form__select.form__column--50(name="")
                                                option(value="") до
                                                option(value="") 12

                                    +e.item.form__item--md
                                        button.btn.btn--plus

                                h2.form__title
                                    | СЕРВИСЫ

                                +e.row
                                    .form__column-50
                                        .form__column-title
                                            | EXTRA
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption 69
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption A+
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption AR (give)
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption AR (recieve)
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption OWC
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption OWO
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption OWO to completion
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption OWO with swallow
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption OWO without swallow.
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption CIM
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption CIF
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption COB
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")

                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption FK
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption GFE
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Toys
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Kissing
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Sex in different positions
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Erotic massage
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Intimate massage
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Prostate massage
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption OWO without swallow.
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Kissing if good chemistry
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Handjob
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Ball Licking and Sucking
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Deep Throat
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Dirtytalk
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption DP
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Extraball
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Facesitting
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Fisting
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Full Body Massage
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Gangbang
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Kamasutra
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Lesbian show
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Lingerie
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Masturbate
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")

                                    .form__column-50
                                        .column-row
                                            .form__column-title
                                                | EXTRA
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Private video
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Snowballing
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Striptease/Lapdance
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Tantric
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Foam massage
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Titjob
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Anal massage (give)
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Anal massage (receive)
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Shower service
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Whirlpool
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Intimate shaving
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption DUO
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")

                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Quickie
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption BDSM
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Bondage
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Clinic sex
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Fetish
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Foot fetish
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption GS (give)
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption GS (receive)
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Leather/Latex/PVC
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Mistress (hard)
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Mistress (soft)
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Role play
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Spanking (give)
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Strap on
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Submissive/Slave (hard)
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Submissive/Slave (soft)
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Scat (give)
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Scat (receive)
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Squirting
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Costumes/uniforms
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Outdoor sex
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption PSE
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Private photos
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")
                                        +e.column-row
                                            +e.LABEL.item.form__item--checkbox
                                                .form__caption Masturbate
                                                input(type="checkbox").form__checkbox
                                                i.form__custom-checkbox
                                            +e.item.form__item--sm.form__item--services
                                                button.btn.btn--plus
                                                input.form__input(type="text")

                    +e.footer
                        button.btn.btn--disable
                            +icon('btn-arrow').btn__arrow.btn__arrow--back
                            | Назад
                        button.form__next.btn.btn--default Далее
                            +icon('btn-arrow').btn__arrow

    +footer()

    .hidden-svg
        <!-- inject:svg -->
        <!-- endinject -->