extends partials/_layout
include partials/_mixins
include partials/_header
include partials/_footer



block content

	.cssload-container.cssload-container--loading
		.cssload-whirlpool

	+header()
	
	+b.hero.hero--default
		.hero__background(style='background-image: url("./assets/images/hero-profile.jpg");')
		.container
			+e.P.text
				| 	Заполните информацию об условиях, по которым Вы готовы работать, графике и географии туров. 
			+e.P.text.hero__text--italic
				| Если Вы не знаете как заполнить какой-либо пункт, просто пропустите его. Всю недостающую информацию уточнит у Вас наш менеджер.


		+e.H1.title
			| FRANKLIN ESCORT SERVICE
			span
				| ЭСКОРТ CALL-ЦЕНТР №1

	+b.settings
		.container
			+e.nav
				a(href="").settings__nav-link Основное
				a(href="").settings__nav-link.settings__nav-link--active Рабочее
				a(href="").settings__nav-link Дополнительно
				a(href="").settings__nav-link Контакты
				a(href="").settings__nav-link Медиа
				a(href="").settings__nav-link Верификация
				a(href="").settings__nav-link Аккаунты


			+b.panel
				form(action="")
					+e.header
						h1 ОСНОВНЫЕ ДАННЫЕ 
					
					+e.body
						+e.container
							+b.form
								h2.form__title
									| ИНФОРМАЦИЯ О МЕСТОПОЛОЖЕНИИ

								+e.row
									+e.item.form__item--md
										.form__caption Страна тура:
											span *
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq
									+e.item.form__item--md
										.form__caption Базовый город:
											span *
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq
									+e.item.form__item--disabled.form__item--md
										.form__caption Район: 
										
										select#gender.form__select(name="" disabled)
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq
									+e.item.form__item--md
										.form__caption Доп. город: 
											
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq
									
								+e.row
									+e.item.form__item--md
										.form__caption Город тура: 
											span *
										select#gender.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq

									+e.item.form__item--md
										.form__caption Дата тура: 
				
										+e.item-list
											select.form__select.form__column--50(name="")
												option(value="") с
												option(value="") 12
												option(value="") 11

											.form__line
			
											select.form__select.form__column--50(name="")
												option(value="") до
												option(value="") 12
									+e.item.form__item--md
										.form__caption Дата тура: 
				
										+e.item-list
											select.form__select.form__column--50(name="")
												option(value="") с
												option(value="") 12
												option(value="") 11

											.form__line
			
											select.form__select.form__column--50(name="")
												option(value="") до
												option(value="") 13

									+e.item.form__item--md
										button.btn.btn--plus


								h2.form__title
									| ИНФОРМАЦИЯ О ЦЕНАХ

								+e.row
									.form__row-title
										| Инкол 
									
									+e.item.form__item--md
										.form__caption Место:
										select.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq

									+e.item.form__item--sm
										.form__caption Сколько: 
										+e.INPUT(type="text").input
										
									+e.item.form__item--md
										.form__caption Мин/Час/Сут/Нед: 
										select.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq
										
									+e.item.form__item--sm
										.form__caption Стоим.: 
										+e.INPUT(type="text").input
										
									+e.item.form__item--sm
										.form__caption У.Е.: 
										select.form__select(name="")
											option(value="") 
											option(value="") вуцц1
											option(value="") 23ц3
										
									button.btn.btn--plus
									
								+e.row
									.form__row-title
										| Ауткол 
									+e.item.form__item--md
										select.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq
									+e.item.form__item--sm
										+e.INPUT(type="text").input
									+e.item.form__item--md
										select.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq
									+e.item.form__item--sm
										+e.INPUT(type="text").input
									+e.item.form__item--sm
										select.form__select(name="")
											option(value="") 
											option(value="") fjefiew
											option(value="") епл
									button.btn.btn--plus


								+e.row
									+e.item.form__item--md
										.form__caption Индекс: 

										+e.INPUT(type="text").input
									+e.item.form__item--md
										.form__caption Название клуба: 
										+e.INPUT(type="text").input

									+e.item.form__item--md
										.form__caption Улица рядом: 
										+e.INPUT(type="text").input
									+e.item.form__item--md
										.form__caption Другое: 
										+e.INPUT(type="text").input
								
								+e.row
									+e.item
										.form__caption Название клуба: 
										+e.INPUT(type="text").input

								h2.form__title
									| ГРАФИК РАБОТЫ
								+e.row
									+e.LABEL.item.form__item--checkbox.form__item--checkbox-sm
										.form__caption 24/7
										input(type="checkbox").form__checkbox
										i.form__custom-checkbox

									+e.item.form__item--md
										.form__caption Рабочие дни:
										select.form__select(name="")
											option(value="") Выберите
											option(value="") fjefiew
											option(value="") erfklq

									+e.item.form__item--md
										.form__row.form__row--caption
											.form__caption Начало: 
											.form__caption Конец: 
				
										+e.item-list
											select.form__select.form__column--50(name="")
												option(value="") с
												option(value="") 12
												option(value="") 11

											.form__line
			
											select.form__select.form__column--50(name="")
												option(value="") до
												option(value="") 12

									+e.item.form__item--md
										button.btn.btn--plus

					+e.footer
						button.btn.btn--disable
							+icon('btn-arrow').btn__arrow.btn__arrow--back
							| Назад
						button.form__next.btn.btn--default Далее
							+icon('btn-arrow').btn__arrow
	
	+footer()

	.hidden-svg
		<!-- inject:svg -->
		<!-- endinject -->