extends partials/_layout
include partials/_mixins
include partials/_header
include partials/_footer



block content

	.cssload-container.cssload-container--loading
		.cssload-whirlpool

	+header()
	
	+b.hero.hero--default
		.hero__background(style='background-image: url("./assets/images/hero-profile.jpg");')
		.container
			+e.P.text
				| Рекомендуем не добавлять фотографии низкого качества и с черными краями. В качестве основного фото лучше всего подойдет вертикальная фотография.

		+e.H1.title
			| FRANKLIN ESCORT SERVICE
			span
				| ЭСКОРТ CALL-ЦЕНТР №1

	+b.settings
		.container
			+e.nav
				a(href="").settings__nav-link Основное
				a(href="").settings__nav-link Рабочее
				a(href="").settings__nav-link Дополнительно
				a(href="").settings__nav-link Контакты
				a(href="").settings__nav-link.settings__nav-link--active Медиа
				a(href="").settings__nav-link Верификация
				a(href="").settings__nav-link Аккаунты


			+b.panel
				+e.header
					h1 ФОТОГРАФИИ И ВИДЕО
				
				+e.body
					+e.container
						+b.form
							+e.holder
								h2.form__title
									| ОСНОВНОЕ ФОТО
								p.form__text
									| Лучше всего подойдет фотография портретной ориентации не менее 600 px по ширине
									br
									|Все интимные места должны быть замазаны
									br
									|Допустимые расширения - JPG, PNG
									br
									|Максимальный размер фотографии 2048x2048 px

								button.btn.btn--default
									| Добавить

							+e.holder
								h2.form__title
									| ГАЛЕРЕЯ
								p.form__text
									| Фотографии должны быть не менее 600 px по ширине и не менее 400 px по высоте
									br
									| Все интимные места должны быть замазаны
									br
									| Допустимые расширения - JPG, PNG
									br
									| Максимальный размер фотографии 2048x2048 px
								button.btn.btn--default
									| Добавить
							+e.holder
								h2.form__title
									| ВИДЕО
								p.form__text
									| Видео не должно открыто демонстрировать интимные места
									br
									| Допустимые расширения - MP4, FLV
									br
									| Длительность видео не должно превышать ...
								button.btn.btn--default
									| Добавить

						
					
				+e.footer
					button.btn.btn--disable
						+icon('btn-arrow').btn__arrow.btn__arrow--back
						| Назад
					button.form__next.btn.btn--default Далее
						+icon('btn-arrow').btn__arrow
	
	+footer()

	.hidden-svg
		<!-- inject:svg -->
		<!-- endinject -->