.about {
  margin-top: 65px;
  margin-bottom: 75px;

  h1 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
    margin-bottom: 25px;
  }

  @media (max-width: 767px) {
    margin: 40px 0;
  }
}