.advertising {
  position: relative;
  background-color: #0f0e19;
  color: #fff;
  padding-top: 55px;
  padding-bottom: 63px;

  &__container {
    display: flex;
    align-items: flex-start;
    max-width: 1005px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__content {
    width: 50%;
  }

  &__slider {
    position: relative;
    width: 417px;
    margin-top: 7px;
    margin-right: -13px;
    margin-left: auto;
  }

  &__slider:before {
    content: '';
    position: absolute;
    top: -25px;
    right: -68px;
    background-image: url('./assets/images/mac-img.png');
    width: 556px;
    height: 335px;
  }

  h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 65px;
  }

  li {
    position: relative;
    margin-bottom: 60px;
    padding-left: 23px;
    font-size: 18px;
  }

  li:before {
    position: absolute;
    top: 3px;
    left: 0;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
  }

  li:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1140px) {
  .advertising {

    &__container {
      flex-direction: column;
    }

    &__content {
      width: auto;
    }

    &__slider {
      margin: 20px auto;
      margin-top: 80px;
    }
  }
}

@media (max-width: 767px) {
  .advertising {
    padding: 35px 0;

    h1 {
      margin-bottom: 40px;
    }

    li {
      margin-bottom: 35px;
    }

    &__slider {
      display: none;
    }
  }
}