.benefits {
  text-align: center;
  background-image: url('./assets/images/benefits-bg.jpg');
  background-size: cover;
  padding-top: 63px;
  padding-bottom: 93px;

  &__container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
  }

  h1 {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
  }

  &__item {
    max-width: 187px;
  }

  &__item:before {
    content: '';
    display: block;
    background-image: url('./assets/images/benefits-checked.png');
    width: 25px;
    height: 25px;
    margin: auto;
    margin-bottom: 10px;
  }

  &__caption {
    font-size: 18px;
    color: #fff;
  }

  .btn {
    margin-top: 76px;
  }
}

@media (max-width: 767px) {
  .benefits {
    background-position: center;
    padding: 30px 0;

    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      padding: 20px;
    }

    .btn {
      margin-top: 40px;
    }
  }
}