.conditions {
	text-align: center;
	padding-top: 33px;
	padding-bottom: 112px;

	h1 {
		font-size: 30px;
		font-weight: 500;
		color: @color-black;
		line-height: 1.2;
		margin-bottom: 15px;
	}

	p {
		font-size: 18px;
		color: @color-black;
		line-height: 1.2;
	}

	&__list {
		display: flex;
		justify-content: center;
		margin-top: 55px;
	}

	&__item {
		padding: 0 29px;
	}

	&__item-holder {
		min-height: 190px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-bottom: 15px;
	}

	&__item-country {
		font-size: 24px;
		color: @color-black;
		line-height: 1.2;
		margin-bottom: 25px;
	}

	&__item-price {
		font-size: 18px;
		color: @color-black;
		line-height: 1.2;

		span {
			display: block;
		}
	}
}

@media (max-width: 767px) {
	.conditions {
		padding-bottom: 40px;

		&__list {
			flex-direction: column;
		}

		&__item {
			padding: 20px;
		}

		&__item-holder {
			min-height: auto;
		}
	}
}