.contacts {
  margin-top: 80px;
  margin-bottom: 130px;

  &__social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
  }

  &__social-link {
    text-align: center;
    color: #000;
  }

  &__social-icon {
    margin-bottom: 25px;
  }

  &__social-name {
    font-size: 26px;
    margin-bottom: 15px;
  }

  @media (max-width: 767px) {
    margin: 50px 0;

    &__social {
      flex-wrap: wrap;
      margin-bottom: 40px;
    }

    &__social-link {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 480px) {
    &__social {
      flex-direction: column;
    }
  }
}