.faq {
  margin-top: 60px;
  margin-bottom: 80px;

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    cursor: pointer;
    font-size: 26px;
    margin-bottom: 40px;
  }

  &__link--clicked {
    .faq__state:after {
      transform: rotate(180deg);
    }

    .faq__state-close {
      display: block;
    }

    .faq__state-open {
      display: none;
    }
  }

  &__state {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
  }

  &__state-close {
    display: none;
  }

  &__state:after {
    position: absolute;
    top: 6px;
    left: 130px;
    content: '';
    background: url('./assets/images/arrow.png');
    width: 13px;
    height: 9px;
    margin-left: 25px;
    transition: all 0.3s ease-in-out;
  }

  &__content {
    display: none;
    font-size: 18px;

    p {
      margin-bottom: 35px;
    }

    ul {
      margin-bottom: 35px;

      li {
        position: relative;
        padding-left: 35px;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 4px;
          height: 4px;
          background-color: #000;
          border-radius: 50%;
          margin-top: -2px;
        }
      }
    }
  }
}