.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #211d31;
  padding: 30px 20px;
  margin-top: auto;

  &:before {
    content: '';
    display: block;
    width: 155px;
  }

  &__copyright {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
  }

  &__phone {
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 10px;

    &__phone {
      order: -1;
      margin-bottom: 15px;
    }
  }
}