.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: @color-black;

  &__logo {
    margin-top: 3px;
    margin-left: 15px;
  }

  &__nav {
    display: flex;
    margin-left: 80px;
    margin-right: auto;
  }

  &__nav-link {
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 1.2;
    padding: 10px 25px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: rgb(251, 104, 116);
    }
  }

  &__nav-link--active {
    color: rgb(251, 104, 116);
  }

  &__phone {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 1.2;
    margin-right: 20px;
  }

  &__hamburger {
    display: none;
    font: inherit;
    overflow: visible;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
  }

  &__hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  &__hamburger &__hamburger-inner,
  &__hamburger &__hamburger-inner:after,
  &__hamburger &__hamburger-inner:before {
    background-color: #fff;
  }

  &__hamburger-inner {
    display: block;
    top: 2px;
  }

  &__hamburger-inner, &__hamburger-inner:after, &__hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000;
  }

  &__hamburger-inner:before {
    top: 10px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform, opacity;
  }

  &__hamburger-inner:after {
    top: 20px;
  }

  &__hamburger-inner:after, &__hamburger-inner:before {
    display: block;
    content: "";
  }

  &__hamburger.is-active &__hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
  }

  &__hamburger.is-active &__hamburger-inner:before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }

  &__hamburger.is-active &__hamburger-inner:after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
  }
}

@media (max-width: 992px) {
  .header {
    flex-wrap: wrap;

    &__hamburger {
      display: block;
      margin-right: 15px;
    }

    &__nav {
      flex-direction: column;
      margin: 0;
      width: 100%;
      margin-top: 20px;
      display: none;
    }

    &__nav-link {
      padding: 5px 15px;
    }

    &__phone {
      width: 100%;
      margin: 5px 15px 20px 15px;
      display: none;
    }
  }
}