.hero {
  position: relative;
  font-size: 0;
  line-height: 1;
  text-align: center;
  color: #fff;

  &--primary {
    display: flex;
    align-items: center;
    min-height: calc(~"100vh - 57px");
    background-image: url("./assets/images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &--default {
    position: relative;
    min-height: 335px;
    padding-bottom: 100px;
    text-align: left;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(0deg, rgb(251, 104, 116) 0%, rgb(208, 51, 202) 100%);
      opacity: 0.7;
    }

    .hero__background {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
    }

    .container {
      position: relative;
      z-index: 1;
      padding-top: 60px;
    }

    .hero__title {
      position: absolute;
      left: 10%;
      bottom: 0;
      z-index: 10;
      font-size: 24px;
      line-height: 1;
      padding-bottom: 25px;

      &:after {
        content: '';
        display: block;
        width: 150px;
        height: 1px;
        background-color: #fff;
        margin-top: 5px;
      }

      span {
        font-family: @roboto;
        font-size: 16px;
        display: block;
      }
    }
  }

  &__background {
    width: 100%;
  }

  &__container {
    max-width: 970px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    z-index: 1;
  }

  &__title {
    font-size: 60px;
    font-family: @helvetica;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    padding-bottom: 43px;
  }

  &__text {
    max-width: 560px;
    margin: auto;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    line-height: 1.2;
    text-align: center;

    &--italic {
      font-style: italic;
    }
  }

  &__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 70px;
    padding-top: 60px;
  }

  &__descr {
    font-size: 15px;
    line-height: 1.2;
    max-width: 500px;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .hero {
    background-image: url('./assets/images/hero-bg--mobile.jpg');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 170px;

    &--default {
      min-height: 100px;
      padding: 0;
      padding-bottom: 100px;

      .container {
        padding-top: 25px;
      }
    }

    &__background {
      display: none;
    }

    &__container {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }

    &__title {
      font-size: 40px;
    }

    &__text {
      font-size: 18px;
    }

    &__subtitle {
      padding-top: 10px;
      padding-bottom: 30px;
    }
  }
}