.order {
  position: relative;
  padding: 40px 0;

  &__container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__content {
    width: 50%;

    h1 {
      font-size: 30px;
      font-weight: 500;
      color: @color-black;
      line-height: 1.2;
      margin-top: 4px;
      margin-bottom: 37px;
    }

    p {
      font-size: 18px;
      line-height: 1.2;
    }

    p b {
      display: block;
      font-size: 26px;
      color: @color-black;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 15px;
    }
  }

  &__benefits {
    margin-top: 32px;
  }

  &__benefits-item {
    display: flex;
    align-items: center;
    min-height: 60px;
    margin-bottom: 44px;
  }

  &__benefits-item:nth-child(2) {
    .order__benefits-icon {
      margin-right: 47px;
    }
  }

  &__benefits-item:last-child {
    margin-bottom: 0;
  }

  &__benefits-icon {
    // opacity: 0;
    // position: relative;
    margin-right: 37px;

    // &.animated {
    // 	opacity: 1;
    // }
  }

  &__benefits-caption {
    font-size: 22px;
    font-weight: 500;
  }

  &__slider {
    position: relative;
    width: 227px;
    margin-top: 55px;
    margin-right: 13px;
    margin-bottom: 60px;

    &:before {
      position: absolute;
      top: -55px;
      right: -13px;
      content: '';
      display: block;
      background-image: url('./assets/images/phone-img.png');
      width: 255px;
      height: 519px;
    }
  }

}

@media (max-width: 992px) {
  .order {
    &__container {
      flex-direction: column;
    }

    &__content {
      width: 100%;
    }

    &__slider {
      // order: -1;
      margin: 100px auto;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 767px) {
  .order {

    &__benefits-item {
      margin-bottom: 20px;
    }

    &__benefits-icon {
      margin-right: 27px;
    }

    &__benefits-item:nth-child(2) &__benefits-icon {
      margin-right: 37px;
    }

    &__benefits-caption {
      font-size: 18px;
    }
  }
}