.panel {
  border: 0.29px solid rgb(71, 72, 74);

  &__header {
    border-bottom: 0.29px solid rgb(71, 72, 74);
    padding: 15px 30px;

    h1 {
      font-size: 16px;
      font-weight: 300;
      color: #000;
      line-height: 1.5;
      text-transform: uppercase;
    }
  }

  &__body {
    padding: 0 16px 70px;
  }

  &__container {
    max-width: 750px;
    margin: 0 auto;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: 0.29px solid rgb(71, 72, 74);

    &--next {
      justify-content: flex-end;
    }
  }

  @media (max-width: 767px) {
    &__body {
      padding-bottom: 20px;
    }
  }
}