.questionnaire {
  background-image: url('./assets/images/questionnaire-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 74px;

  &__container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__text {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 28px;
    max-width: 425px;
  }
}

@media (max-width: 767px) {
  .questionnaire {
    background-image: url('./assets/images/questionnaire-bg--mobile.jpg');
    background-position: center;
    background-attachment: inherit;
    padding: 40px 0;
  }
}