.reviews {
  text-align: center;
  padding-top: 43px;
  padding-bottom: 80px;

  &__container {
    max-width: 1035px;
    padding: 0 15px;
    margin: 0 auto;
  }

  h1 {
    font-size: 30px;
    font-weight: 500;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
  }

  &__step {
    max-width: 225px;
  }

  &__step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fb6874;
    width: 80px;
    height: 80px;
    margin: auto;
    font-size: 60px;
    color: #fff;
    margin-bottom: 29px;
  }

  &__step-descr {
    font-size: 14px;
  }

  .btn {
    margin-top: 86px;
  }
}

@media (max-width: 767px) {
  .reviews {
    padding: 40px 0;

    &__list {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }

    &__step {
      padding: 10px;
    }

    .btn {
      margin-top: 40px;
    }
  }
}