.settings {
  padding-top: 33px;
  padding-bottom: 45px;

  .container {
    max-width: 1005px;
  }

  &__nav {
    display: flex;
    border: 0.22px solid rgb(71, 72, 74);
    margin-bottom: 30px;
  }

  &__nav-link {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    line-height: 1.2;
    padding: 10.5px 20px;
    text-align: center;
    transition: all 0.3s linear;

    &:hover {
      color: #fff;
      background-color: rgb(251, 104, 116);
    }
  }

  &__nav-link--active {
    background-color: rgb(71, 72, 74);
    color: #fff;
  }

  @media (max-width: 992px) {
    &__nav-link {
      padding: 10px;
    }
  }

  @media (max-width: 767px) {

    &__nav {
      flex-wrap: wrap;
    }

    &__nav-link {
      width: 100%;
    }
  }
}